block variables

doctype doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(href="./styles/styles.css", rel="stylesheet")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap", rel="stylesheet")
    link(href="./styles/styles.css", rel="stylesheet")
    script(src="https://cdn.tailwindcss.com?plugins=forms")
    block head
  body
    block header
      div(class="fixed top-0 left-0 w-full flex h-[60px] items-center justify-between px-[10%]")
        h1.font-extrabold Session Auth
        div(class="flex items-center")
          a(href="/", class="mx-3 text-base font-semibold hover:text-black/60") Home
          if !isAuthenticated
            a(href="/login", class="mx-3 text-base font-semibold hover:text-black/60") Sign In
            a(href="/register", class="mx-3 text-base font-semibold hover:text-black/60") Register
          if isAuthenticated
            a(href="/dashboard", class="mx-3 text-base font-semibold hover:text-black/60") Dashboard
            a(class="flex flex-col items-center justify-center")
              form(action="/auth/logout", method="POST") 
                button(type="submit", class="mx-3 mt-4 text-base font-semibold hover:text-black/60") Sign Out
      div(class="h-[60px] mb-5")

    div(class="max-w-[90%] mx-auto")
      block body
    